.sndr-tab-panel{
    .sndr-box-control {
        margin: 20px auto;

        .components-flex {
            flex-direction: row-reverse;
            align-items: stretch;
        }
        .components-toggle-control__label{
            margin-bottom: 0px;
        }
        .components-form-toggle.is-checked .components-form-toggle__track{
            background: #008DB4;
        }
        .components-form-toggle.is-checked .components-form-toggle__thumb{
            background: #fff;
        }
        .components-form-toggle .components-form-toggle__thumb{
            background: #757575;
            border-color: #757575;
        }
    }
}